@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --tooltip-bg-color: #f0f0f0; /* Replace this color with your desired background color */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.claimedKugel {
  /* Your existing styles for the claimedKugel element */
  position: relative;
}

.boxShadow {
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.21);

}


.shine {
  position: relative;
}

.shine:before {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%; 

  /* Update the radial-gradient to have a sharp edge */
  background: radial-gradient(
      circle at top left,
      rgba(255, 255, 255, 0.3) 0%, /* Start with 0% opacity */
      rgba(255, 255, 255, 0.3) 20%, /* Stay at 20% opacity for a bit */
      rgba(255, 255, 255, 0) 40% /* Then suddenly go to 0% opacity */
  );

  pointer-events: none;
  z-index: 1;
}

.tooltip::before {
  content: "■";
  position: absolute;
  color: var(--box-bg-color, #333);
  transform: translate(-50%, -50%) rotate(45deg); /* Center the ::before element and apply rotation */
  font-size: 1.5rem;
  top: var(--custom-top);
  left: var(--custom-left);
  z-index: 1; /* Set z-index higher to be above the tooltip content */
  transition: all ease-in-out 200ms;
}

.pagination {
  .active {
    background-color: #870F3B;
    border-radius: 100%;
    color: white;
  }
}

.SUMINPUTwrapper {
  position: relative;
  display: inline-block;

}

.SUMINPUT::after {
  content: "€";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #333;
  background-color: red; /* Add a background color for debugging */


}